* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: hsl(235, 21%, 21%);
  --lightblue: hsl(218, 17%, 62%);
  --vibrant-red: hsl(353, 86%, 54%);
  --soft-white: hsl(197, 24%, 94%);
}

html, body {
  height: 100%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
}